name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - dev
      - ci-cd
  pull_request:
    branches:
      - main
      - dev
      - ci-cd

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Build the app
        run: npm run build:dev

      - name: Docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t intothefathom/splyce-frontend-app:${{ github.sha }} .

      - name: Push Docker image
        run: docker push intothefathom/splyce-frontend-app:${{ github.sha }}

      - name: Sync Argo CD
        run: |
          docker run --rm \
            -e ARGOCD_AUTH_TOKEN=${{ secrets.ARGOCD_AUTH_TOKEN }} \
            argoproj/argocd:v2.4.3 \
            argocd app set splyce-frontend-app \
            --server ${{ secrets.ARGOCD_API_URL }} \
            --parameter image.tag=${{ github.sha }}

      - name: Sync and wait for completion
        run: |
          docker run --rm \
            -e ARGOCD_AUTH_TOKEN=${{ secrets.ARGOCD_AUTH_TOKEN }} \
            argoproj/argocd:v2.4.3 \
            argocd app sync splyce-frontend-app \
            --server ${{ secrets.ARGOCD_API_URL }} \
            --grpc-web \
            --timeout 180